@import 'bootstrap/dist/css/bootstrap.css';

body {
  background-color: black;
  color: azure;
}

.profile-img {
  border-radius: 50%;
  width: 30px;
}

.user-image {
  width: 150px;
  height: auto;
}
